.custom-header {
     font-family: 'MedievalSharp', cursive;
     color: gold;
     text-shadow: 5px 5px 6px black;
     z-index: 1;
}

.custom-header>h1 {
     font-size: 95px;
}
.game-custom-header {
     font-family: 'MedievalSharp', cursive !important;
     color: gold !important;
     text-shadow: 5px 5px 6px black !important;
     z-index: 1;
}

.game-custom-header>h1>a {
     font-size: 20px;
     color: gold !important;
     padding: 14px;
}

body {
     background-image: url(../images/DarkKnight.png), url(../images/Warrior.png);
     background-position: left top, right top;
     background-repeat: no-repeat, no-repeat;
     background-size: 18%;
     background-color: #000D1A;
     padding-bottom: 70px;
}

.mymenuu {
     background-color: #edcf9d;
     border-top-color: #a08e68;
     color: #000D1A;
     border-style: solid;
}

#menu {
     margin: 0;
     width: auto;
     /* background-color: jakis szarawy; */
     font-size: 16px;
     font-family: 'MedievalSharp', cursive;
     font-weight: bold;
     text-align: left;
     padding: 8px;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -o-border-radius: 8px;
}

#menu ul {
     margin: 0;
     padding: 8px 0;
     list-style: none;
     height: auto;
}

#menu li {
     display: inline;
     padding: 8px;
}

#menu a {
     color: #FFF;
     padding: 10px;
     text-decoration: none;
}

#menu a:hover {
     background-color: #0a1c2e;
     color: #FFF;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}

#menu li .active {
     background-color: #000D1A;
     color: #FFF;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
     color: gold;
     text-shadow: 5px 5px 2px black;
}

.subhead::first-letter {
     initial-letter: 4;
}

.card {
     font-family: 'MedievalSharp', cursive;
     background-color: #0a1c2e;
}

.card-header {
     background-color: #07153a;
}

.card-footer {
     background-color: #07153a;
}

.section-padding {
     padding: 10px 0;
}

.bottom {
     background-color: #0a1c2e;
}

.bottom .copyright {
     color: #e5e5e5;
     font-weight: 600;
}

.copyright a {
     color: #f2ff49;
     margin-left: 3px;
     padding-right: 3px;
}

.bottom p {
     margin-bottom: 0;
     line-height: 50px;
     font-size: 14px;
     font-weight: 400;
}

.copyright p span {
     color: #d1caca;
}

.bottom .copyright p, .bottom .copyright a:hover {
     color: #6c6d83;
}

#alert_placeholder{
    z-index: 999;
    top: 0px;
}

.fa-door-closed:hover:before{
	content: "\f52b";
}

.square {
    width: 2.6rem;
    height: 2.6rem;
    padding-right: 0.0rem;
    padding-left: 0.0rem;
    text-align: center;
    font-size: 2.6rem;
}

.no-village {
  color: #389122;
}

.village {
  color: #c1731f;
}
.my-village {
  color: #8d2291;
}