<div class="col-12">
  <div class="row float-left">
    <div class="col my-1">
      Pikinier <br /> <span id="res_wood" data-content="spearFighter"></span>
    </div>
    <div class="col my-1">
      Miecznik <br /><span id="swordsman" data-content="swordsman"></span>
    </div>
    <div class="col my-1">
      Łucznik <br /><span id="archer" data-content="archer"></span>
    </div>
    <div class="col my-1">
      Kawaleria <br /><span id="cavalary" data-content="cavalary"></span>
    </div>
  </div>
</div>
