<div class="row my-2">
    <div class="col-2" data-content="buildingId"> Nazwa budynku </div>
    <div class="col-1" data-content="nextLvl"> Next lvl </div>
    <div class="col-6">
        <span class="text-success"> Zakończono </span>
    </div>
    <div class="col-3"> <button class="btn btn-success" onclick="receiveBuilding(event)" data-value="id"> Odbierz </button> </div>

</div>