<table class="table my-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Czas budowy (bez bonusu)</th>
            <th scope="col"><img src="images/wood40.png" alt="Żelazo"></th>
            <th scope="col"><img src="images/bricks40.png" alt="Glina"></th>
            <th scope="col"><img src="images/iron40.png" alt="Drewno"></th>
            <th scope="col"><img src="images/people40.png" alt="Ludzik"></th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody>
        <tr data-class="headquartes.css">
            <th scope="row" >Zamek</th>
            <td data-content="headquartes.buildTime">-</td>
            <td data-content="headquartes.woodCost">-</td>
            <td data-content="headquartes.clayCost">-</td>
            <td data-content="headquartes.ironCost">-</td>
            <td data-content="headquartes.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('HEADQUARTERS')"> Rozbuduj </button> </td>
        </tr>
        <tr data-class="centralSquare.css">
            <th scope="row" >Plac</th>
            <td data-content="centralSquare.buildTime">-</td>
            <td data-content="centralSquare.woodCost">-</td>
            <td data-content="centralSquare.clayCost">-</td>
            <td data-content="centralSquare.ironCost">-</td>
            <td data-content="centralSquare.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('CENTRAL_SQUARE')"> Rozbuduj </button> </td>
        </tr>
        <tr data-class="barracks.css">
            <th scope="row" >Koszary</th>
            <td data-content="barracks.buildTime">-</td>
            <td data-content="barracks.woodCost">-</td>
            <td data-content="barracks.clayCost">-</td>
            <td data-content="barracks.ironCost">-</td>
            <td data-content="barracks.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('BARRACKS')"> Rozbuduj </button> </td>
        </tr>
        <tr data-class="timberCamp.css">
            <th scope="row" >Tartak</th>
            <td data-content="timberCamp.buildTime">-</td>
            <td data-content="timberCamp.woodCost">-</td>
            <td data-content="timberCamp.clayCost">-</td>
            <td data-content="timberCamp.ironCost">-</td>
            <td data-content="timberCamp.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('TIMBER_CAMP')"> Rozbuduj </button> </td>
        </tr>
        <tr data-class="ironMine.css">
            <th scope="row" >Huta żelaza</th>
            <td data-content="ironMine.buildTime">-</td>
            <td data-content="ironMine.woodCost">-</td>
            <td data-content="ironMine.clayCost">-</td>
            <td data-content="ironMine.ironCost">-</td>
            <td data-content="ironMine.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('IRON_MINE')"> Rozbuduj </button> </td>
        </tr>
        <tr data-class="clayPit.css">
            <th scope="row" >Cegielnia</th>
            <td data-content="clayPit.buildTime">-</td>
            <td data-content="clayPit.woodCost">-</td>
            <td data-content="clayPit.clayCost">-</td>
            <td data-content="clayPit.ironCost">-</td>
            <td data-content="clayPit.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('CLAY_PIT')"> Rozbuduj </button> </td>
        </tr>

        <tr data-class="warehouse.css">
            <th scope="row" >Spichlerz</th>
            <td data-content="warehouse.buildTime">-</td>
            <td data-content="warehouse.woodCost">-</td>
            <td data-content="warehouse.clayCost">-</td>
            <td data-content="warehouse.ironCost">-</td>
            <td data-content="warehouse.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('WAREHOUSE')"> Rozbuduj </button> </td>
        </tr>
        <tr data-class="farm.css">
            <th scope="row" >Farma</th>
            <td data-content="farm.buildTime">-</td>
            <td data-content="farm.woodCost">-</td>
            <td data-content="farm.clayCost">-</td>
            <td data-content="farm.ironCost">-</td>
            <td data-content="farm.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('FARM')"> Rozbuduj </button> </td>
        </tr>
        <tr data-class="wall.css">
            <th scope="row" >Mur obronny</th>
            <td data-content="wall.buildTime">-</td>
            <td data-content="wall.woodCost">-</td>
            <td data-content="wall.clayCost">-</td>
            <td data-content="wall.ironCost">-</td>
            <td data-content="wall.peopleCost">-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('WALL')"> Rozbuduj </button> </td>
        </tr>
    </tbody>
</table>