<div class="row my-2">
    <div class="col-2" data-content="buildingId"> Nazwa budynku </div>
    <div class="col-1" data-content="nextLvl"> Next lvl </div>
    <div class="col-6 ">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" data-width="css">
            </div>
        </div>
    </div>
    <div class="col-3" data-content="endTimestamp"> </div>

</div>