<div id="alertdiv" class="align-bottom alert alert-danger fade in out show">
     <a class="close fa fa-close" data-dismiss="alert"></a><strong data-content="messagePrimary" class="mr-2"> </strong><span data-content="message"> </span>
</div>