<input class="form-control" type="text" placeholder="Ilość jednostek">

<table class="table my-3">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Czas rekrutacji<br />(bez bonusu)</th>
            <th scope="col"><img src="images/wood40.png" alt=""></th>
            <th scope="col"><img src="images/bricks40.png" alt=""></th>
            <th scope="col"><img src="images/iron40.png" alt=""></th>
            <th scope="col"><img src="images/people40.png" alt=""></th>
            <th scope="col">Def</th>
            <th scope="col">Off</th>
            <th scope="col">Speed</th>
            <th scope="col">Ładowność</th>
            <th scope="col">Min lvl<br /> koszar</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <th scope="row" >Pikinier</th>
            <td>175s</td>
            <td>50</td>
            <td></td>
            <td>-</td>
            <td>-</td>
            <td> <button class="btn btn-primary" onclick="upgradeBuilding('HEADQUARTERS')"> Rozbuduj </button> </td>
        </tr>
        
    </tbody>
</table>