<div class="row my-2">
  <div class="col-2" data-content="unitId"> Nazwa budynku </div>
  <div class="col-2">
    <span class="text-success" data-content="recruitNow">  </span> / 
    <span class="text-success" data-content="recruitValue">  </span>
  </div>
  <div class="col-6">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25"
           aria-valuemin="0" aria-valuemax="100" data-width="css">
      </div>
    </div>
  </div>
</div>