<div class="col-12">
  <div class="row">
    <div class="col my-1">
      <img src="images/wood40.png" alt="Drewno"><br /><span id="res_wood" data-content="wood"></span>
    </div>
    <div class="col my-1">
      <img src="images/bricks40.png" alt="Glina"><br /><span id="res_clay" data-content="clay"></span>
    </div>
    <div class="col my-1">
      <img src="images/iron40.png" alt="Żelazo"><br /><span id="res_iron" data-content="iron"></span>
    </div>
    <div class="col my-1">
      <img src="images/people40.png" alt="Ludzik"><br /><span id="res_population" data-content="population"></span>
    </div>
  </div>
</div>
