<div id="alertdiv" class="align-bottom alert alert-success fade in out show">
    <a class="close fas fa-times" data-dismiss="alert"></a><strong data-content="messagePrimary" class="mr-2"> </strong><span data-content="message"> </span>
</div>