<div class="col-12">
  <div class="row">

    <div class="col my-3 row">
      <div class="col-md-12">
        <div id="login-info" class="card">
          <div class="card-header">
            <a href="#" onclick="showContent(content.VILLAGE)"> <span data-content="name">nazwa wioski</span> </a>
            (<b><span data-content="locationX">X</span></b> | <b>
              <span data-content="locationY">Y</span></b>) <b><span data-content="points">punkty</span></b> PKT
          </div>

          <div class="card-body content-element" id="content-village">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nazwa</th>
                  <th scope="col">Poziom</th>
                  <th scope="col">Bonus</th>
                </tr>
              </thead>
              <tbody>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.CASTLE)"> </button></th>
                  <td>Zamek </td>
                  <td class="building-lvl" data-content="headquarters"></td>
                  <td> Budowa czas: <span class="font-weight-bold" data-content="headquarters_bonus"></span> % </td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.CENTRAL_SQUARE)"> </button></th>
                  <td>Plac</td>
                  <td class="building-lvl" data-content="centralSquare"></td>
                  <td data-content="centralSquare_bonus"></td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.BARRACKS)"></button></th>
                  <td>Koszary</td>
                  <td class="building-lvl" data-content="barracks"></td>
                  <td> Rekrutacja czas: <span class="font-weight-bold" data-content="barracks_bonus"></span> % </td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.TIMBER_CAMP)"></button></th>
                  <td>Tartak</td>
                  <td class="building-lvl" data-content="timberCamp"></td>
                  <td> Produkcja na 1h: <span class="font-weight-bold" data-content="timberCamp_bonus"></span> </td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.CLAY_PIT)"></button></th>
                  <td>Cegielnia</td>
                  <td class="building-lvl" data-content="clayPit"></td>
                  <td> Produkcja na 1h: <span class="font-weight-bold" data-content="clayPit_bonus"></span> </td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.IRON_MINE)"></button></th>
                  <td>Huta żelaza</td>
                  <td class="building-lvl" data-content="ironMine"></td>
                  <td> Produkcja na 1h: <span class="font-weight-bold" data-content="ironMine_bonus"></span> </td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.WAREHOUSE)"></button></th>
                  <td>Spichlerz</td>
                  <td class="building-lvl" data-content="warehouse"></td>
                  <td> Pojemność magazynu: <span class="font-weight-bold" data-content="warehouse_bonus"></span> </td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.FARM)"></button></th>
                  <td>Farma</td>
                  <td class="building-lvl" data-content="farm"></td>
                  <td> Max populacja: <span class="font-weight-bold" data-content="farm_bonus"></span></td>
                </tr>
                <tr class="building-list">
                  <th scope="row"><button class="btn btn-sm btn-primary fas fa-door-closed"
                                          onclick="showContent(content.WALL)"></button></th>
                  <td>Mur</td>
                  <td class="building-lvl" data-content="wall"></td>
                  <td> Bonus do obrony: <span class="font-weight-bold" data-content="wall_bonus"></span> </td>
                </tr>
              </tbody>
            </table>

          </div>

          <div id="castle" class="content-element d-none my-3 mx-3">
            Zamek
            <div id="buildingsToReceive">

            </div>

            <div id="buildingsInProgress">

            </div>

            <div id="buildingUpgradeList">

            </div>
          </div>
          <div id="centralSquare" class="content-element d-none my-3 mx-3">
            Plac

            <script type="text/javascript">
              function calc() {
                $(".podsumowanie").html("");
                powerAttack = {};
                powerAttack.UNIT_1 = 10;
                powerAttack.UNIT_2 = 25;
                powerAttack.UNIT_3 = 40;
                powerAttack.UNIT_4 = 110;

                powerDef = {};
                powerDef.UNIT_1 = 25;
                powerDef.UNIT_2 = 50;
                powerDef.UNIT_3 = 10;
                powerDef.UNIT_4 = 5;

                var tab1 = "<table class\"table table-striped row\"><tr><th>Atakujący</th><th>Pikinier</th><th>Miecznik</th><th>Łucznik</th><th>Kawaleria</th></tr><tr><td>Wysłane</td>";
                var tab2 = "<table class\"table table-striped row mt-2\"><tr><th>Obrońca</th><th>Pikinier</th><th>Miecznik</th><th>Łucznik</th><th>Kawaleria</th><th>Mur</th></tr><tr><td>Wysłane</td>";
                var attackUNITS = $('.unitsAttacker').map(function (idc, element) {
                  tab1 += ("<td>" + $(element).val() + "</td>");
                  return $(element).val();
                }).get();

                tab1 += "</tr>";

                var attackSUM = 0;
                $.each(attackUNITS, function () {
                  attackSUM += parseInt(this)
                });


                var deffendUNITS = $('.unitsDefends').map(function (idc, element) {
                  tab2 += ("<td>" + $(element).val() + "</td>");
                  return $(element).val();
                }).get();

                tab2 += "</tr>";

                var deffendSUM = 0;
                $.each(deffendUNITS, function () {
                  deffendSUM += parseInt(this)
                });


                var zapalAttack = (parseInt(attackSUM) / (parseInt(attackSUM) + parseInt(deffendSUM)) * 100).toFixed(0);
                var zapalObrona = 100 - zapalAttack;
                var silaAtaku = (parseInt(attackUNITS[0] * powerAttack.UNIT_1) + parseInt(attackUNITS[1] * powerAttack.UNIT_2) + parseInt(attackUNITS[2] * powerAttack.UNIT_3) + parseInt(attackUNITS[3] * powerAttack.UNIT_4)) * zapalAttack;
                var silaObrony = (parseInt(deffendUNITS[0] * powerDef.UNIT_1) + parseInt(deffendUNITS[1] * powerDef.UNIT_2) + parseInt(deffendUNITS[2] * powerDef.UNIT_3) + parseInt(deffendUNITS[3] * powerDef.UNIT_4)) * parseInt(zapalObrona) + parseInt(deffendUNITS[4]);

                var saSO = (silaAtaku / silaObrony).toFixed(2);
                var soSA = (silaObrony / silaAtaku).toFixed(2);

                if (soSA >= 1) {
                  var zginieA = 1;
                  var zginieO = saSO;
                } else {
                  var zginieA = soSA;
                  var zginieO = 1;
                }
                pozostaliAtakujacego = {};
                tab1 += "<tr><td>Polegli</td><td>" + (Math.floor(attackUNITS[0] * zginieA).toFixed(0)) + "</td><td>" + (Math.floor(attackUNITS[1] * zginieA).toFixed(0)) + "</td><td>" + (Math.floor(attackUNITS[2] * zginieA).toFixed(0)) + "</td><td>" + (Math.floor(attackUNITS[3] * zginieA).toFixed(0)) + "</td></tr>";
                pozostaliAtakujacego.UNIT_1 = attackUNITS[0] - (attackUNITS[0] * zginieA).toFixed(0);
                pozostaliAtakujacego.UNIT_2 = attackUNITS[1] - (attackUNITS[1] * zginieA).toFixed(0);
                pozostaliAtakujacego.UNIT_3 = attackUNITS[2] - (attackUNITS[2] * zginieA).toFixed(0);
                pozostaliAtakujacego.UNIT_4 = attackUNITS[3] - (attackUNITS[3] * zginieA).toFixed(0);
                tab1 += "<tr><td>Przeżyli</td><td>" + pozostaliAtakujacego.UNIT_1 + "</td><td>" + pozostaliAtakujacego.UNIT_2 + "</td><td>" + pozostaliAtakujacego.UNIT_3 + "</td><td>" + pozostaliAtakujacego.UNIT_4 + "</td></tr>";


                pozostaliObroncy = {};
                tab2 += "<tr><td>Polegli</td><td>" + ((deffendUNITS[0] * zginieO).toFixed(0)) + "</td><td>" + ((deffendUNITS[1] * zginieO).toFixed(0)) + "</td><td>" + ((deffendUNITS[2] * zginieO).toFixed(0)) + "</td><td>" + ((deffendUNITS[3] * zginieO).toFixed(0)) + "</td></tr>";
                pozostaliObroncy.UNIT_1 = (deffendUNITS[0] - deffendUNITS[0] * zginieO).toFixed(0);
                pozostaliObroncy.UNIT_2 = (deffendUNITS[1] - deffendUNITS[1] * zginieO).toFixed(0);
                pozostaliObroncy.UNIT_3 = (deffendUNITS[2] - deffendUNITS[2] * zginieO).toFixed(0);
                pozostaliObroncy.UNIT_4 = (deffendUNITS[3] - deffendUNITS[3] * zginieO).toFixed(0);
                tab2 += "<tr><td>Przeżyli</td><td>" + pozostaliObroncy.UNIT_1 + "</td><td>" + pozostaliObroncy.UNIT_2 + "</td><td>" + pozostaliObroncy.UNIT_3 + "</td><td>" + pozostaliObroncy.UNIT_4 + "</td></tr>";

                tab1 += "</table>";
                tab2 += "</table>";

                $(".podsumowanie").append(tab1);
                $(".podsumowanie").append(tab2);
              }
            </script>
            <div class = "attack">
              <p>Jednostki atakującego</p>
              <input class="unitsAttacker form-control col-6" placeholder="Pikinier"><br>
              <input class="unitsAttacker form-control col-6" placeholder="Miecznik"><br>
              <input class="unitsAttacker form-control col-6" placeholder="Łucznik"><br>
              <input class="unitsAttacker form-control col-6" placeholder="Kawaleria"><br>
            </div>
            <div class = "defens py-3">
              <p>Jednostki broniącego</p>
              <input class="unitsDefends form-control col-6" placeholder="Pikinier"><br>
              <input class="unitsDefends form-control col-6" placeholder="Miecznik"><br>
              <input class="unitsDefends form-control col-6" placeholder="Łucznik"><br>
              <input class="unitsDefends form-control col-6" placeholder="Kawaleria"><br>
              <input class="unitsDefends form-control col-6" placeholder="Sila muru"><br>
            </div>
            <button class="btn btn-primary" onClick="calc()"> Policz </button>
            <div class="podsumowanie col-12 px-3 py-3"></div>
          </div>
          <div id="barracks" class="content-element d-none my-3 mx-3">
            Koszary
            <div id="recruitQueue">

            </div>

            <div id="recruitUnits">
              <div class="row">
                <div class="form-group col-4">
                  <select class="form-control" id="unitType">
                    <option>Pikinier</option>
                    <option>Miecznik</option>
                    <option>Łucznik</option>
                    <option>Kawaleria</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control"  type="number" id="unitToRecruit" value="0" placeholder="Ilość jednostek">
                </div>
                <div class="col-4">
                  <button class="btn btn-primary" onclick="recruit()"> Rekrutuj </button>
                </div>
              </div>
              <table class="table my-3">
                <thead>
                  <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Czas rekrutacji<br />(bez bonusu)</th>
                    <th scope="col"><img src="images/wood40.png" alt=""></th>
                    <th scope="col"><img src="images/bricks40.png" alt=""></th>
                    <th scope="col"><img src="images/iron40.png" alt=""></th>
                    <th scope="col"><img src="images/people40.png" alt=""></th>
                    <th scope="col">Def</th>
                    <th scope="col">Off</th>
                    <th scope="col">Speed</th>
                    <th scope="col">Ładowność</th>
                    <th scope="col">Min lvl<br /> koszar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <th scope="row" >Pikinier</th>
                    <td>175s</td>
                    <td>50</td>
                    <td>30</td>
                    <td>10</td>
                    <td>1</td>
                    <td>25</td>
                    <td>10</td>
                    <td>150</td>
                    <td>25</td>
                    <td>1</td>
                  </tr>
                  <tr >
                    <th scope="row" >Miecznik</th>
                    <td>230s</td>
                    <td>40</td>
                    <td>45</td>
                    <td>100</td>
                    <td>1</td>
                    <td>50</td>
                    <td>25</td>
                    <td>120</td>
                    <td>15</td>
                    <td>5</td>
                  </tr>
                  <tr >
                    <th scope="row" >Łucznik</th>
                    <td>260s</td>
                    <td>70</td>
                    <td>30</td>
                    <td>40</td>
                    <td>1</td>
                    <td>20</td>
                    <td>40</td>
                    <td>130</td>
                    <td>10</td>
                    <td>10</td>
                  </tr>
                  <tr >
                    <th scope="row" >Kawaleria</th>
                    <td>600s</td>
                    <td>250</td>
                    <td>225</td>
                    <td>250</td>
                    <td>3</td>
                    <td>5</td>
                    <td>110</td>
                    <td>80</td>
                    <td>100</td>
                    <td>15</td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div id="timberCamp" class="content-element d-none my-3 mx-3">
            Tartak
          </div>
          <div id="clayPit" class="content-element d-none my-3 mx-3">
            Cegielnia
          </div>
          <div id="ironMine" class="content-element d-none my-3 mx-3">
            Huta żelaza
          </div>
          <div id="warehouse" class="content-element d-none my-3 mx-3">
            Spichlerz
          </div>
          <div id="farm" class="content-element d-none my-3 mx-3">
            Farma
          </div>
          <div id="wall" class="content-element d-none my-3 mx-3">
            Mur
          </div>


        </div>
      </div>
    </div>
  </div>
</div>